<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
    bootstrap="./vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="false"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="http">
            <directory>tests/Http</directory>
        </testsuite>
    </testsuites>
</phpunit>